{% extends 'base.html' %}

{% block meta %}
<title>Add a New Task</title>
{% endblock meta %}

{% block content %}
<body>
<div class="task">
    <section class="vh-100 gradient-custom">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <nav class="navbar-dark">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="{% url 'todolist:show_todolist' %}">&#8592 Go Back</a>
                    </div>
                  </nav>  
                <div class="col-12 col-md-3 col-lg-6 col-xl-5">
                    <h1 class="custom-title">what are you up to?</h1>
                    <div class="card bg-glass text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="mb-md-5">
                                    <p class="text-white-50 mb-md-4">stay <u>organized</u>, add a new to-do. </p>

                                    <div class="form mb-4">
                                        <input type="text" name="title" placeholder="Task" class="form-control">
                                    </div>

                                    <div class="form mb-4">
                                        <textarea type="text" name="description" placeholder="Description"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                                <button class="btn btn-outline-light btn-lg px-3" type="submit" value="Create Task">+
                                    Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% endblock content %}