{% extends 'base.html' %}

{% block meta %}
<title>Register Your Account!</title>
{% endblock meta %}

{% block content %}  

<section class="vh-100 gradient-custom">
    <div class="container-sm py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-glass text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form method="POST" action="">
                            {% csrf_token %}
                                <table class="d-flex">  
                                    {{ form.as_table }}  
                                </table>
                            </form>
                            <button class="btn btn-outline-light btn-lg px-5 mt-5" type="submit">Sign Up</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}