{% extends 'base.html' %}

{% block content %}

<body>
    <section class="vh-100 gradient-custom">
        <div class="container-md overflow-auto py-5 h-100">
            <div class="row-2 d-flex justify-content-center align-items-center h-100">
            <div class="row row-cols-2 d-flex">
                <div class="row-sm-5 m-md-5 d-flex">
                    <h1 class="custom-title">{{user}}'s to-do list</h1>
                </div>
                <div class="col-lg-5 d-flex">
                    <div class="row row-cols-3 d-flex">
                        <h1 class="custom-title"> test</h1>  
                        <h1 class="custom-title"> test</h1>
                        <h1 class="custom-title"> test</h1>
                        <h1 class="custom-title"> test</h1>
                        <h1 class="custom-title"> test</h1>
                        <h1 class="custom-title"> test</h1>
                        <h1 class="custom-title"> test</h1>
                        <h1 class="custom-title"> test</h1>
                    </div>
                </div>

            </div>
    </section>

</body>

{% extends 'base.html' %}

{% block content %}

<body>
    <div class="col-xl-10 offset-xl-1 mt-4">
            <div class="container-xl-10 overflow-auto py-5 h-100">
                <a class="link-primary" href="{% url 'todolist:logout' %}">Logout</a>               
                <section class="row-lg-3 col-md-6 py-3">
                {% for todolist in list_todo %}
                                    <div class="card-deck text-white ">
                        <div class="container-fluid card-todo p-2 mb-4">
                            <div class="card-body ">
                                <h3 class="card-title">{{todolist.title}}</h3>
                                <p class="card-text">{{todolist.description}}</p>
                                <p class="card-text"><small class="text-white-50">{{todolist.date}}</small></p>
                            </div>
                        </div>
                        <section class="col">

                        {% endfor %}
                        <div class="col gx-5 bg-glass text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <h1><a class="link-primary" href="{% url 'todolist:create_task' %}">+ Add</a></h1>
                                <div class="w-100 d-none d-sm-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>


</body>


{% endblock content %}
Footer
{% endblock content %}
Footer