{% extends 'base.html' %}

{% block content %}
<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Welcome, {{nama}} &#128075</a>
      <button type="button" class="btn btn-light"><a href="{% url 'todolist:logout' %}"><img src="https://cdn-icons-png.flaticon.com/24/1828/1828427.png"></a></button>
    </div>
  </nav>  
<body>
<section class="vh-100 gradient-custom">
    <div class="container-md overflow-auto py-5 h-100">
        <div class="row-2 d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <h1 class="custom-title">{{user}}'s To-Do List</h1>
                <a href="{% url 'todolist:logout' %}">Logout</a>
            </div>
                {% for todolist in list_todo %}
                <div class="card-deck">
                <div class="col card bg-glass text-white overflow-auto" style="border-radius: 1rem;">
                    <div class="card-body text-center p-3">
                        <h6 class="card-header"> {{todolist.date}}</h6>
                        <div class="card-body">
                            <h4 class="card-title">{{todolist.title}}</h4>
                            <p class="card-text">{{todolist.description}}</p>
                            {% if todolist.is_finished %}
                            <input type="checkbox" name="check"
                                onclick="location.href=`{% url 'todolist:update_task' todolist.id %}`" checked />
                            <span class="badge rounded-pill bg-success">Done</span>
                            {% else %}
                            <input type="checkbox" name="check"
                                onclick="location.href=`{% url 'todolist:update_task' todolist.id %}`" />
                            <span class="badge rounded-pill bg-light text-dark">Unfinished</span>
                            {% endif %}
                            <a href="{% url 'todolist:delete_task' todolist.id %}">Delete Task</a>
                            <div class="row gx-5">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                {% endfor %}
                <div class="col gx-5 card-todo text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <a href="{% url 'todolist:create_task' %}">+</a>
                    </div>
                </div>

            </div>
        </div>
</section>
</body>
            

{% endblock content %}
Footer