{% extends 'base.html' %}

{% block meta %}
<title>{{user}}'s to-do</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-dark sticky-top">
    <div class="container py-2">
        <a class="navbar-brand text-white" href="#">Welcome, {{user}} &#128075</a>
        <button type="button" class="btn btn-light"><a href="{% url 'todolist:logout' %}"><img
                    src="https://cdn-icons-png.flaticon.com/24/1828/1828427.png"></a></button>
    </div>
</nav>

<body>
    <div class="container-md h-100 overflow-auto justify-content-center align-items-center" id="mainBody">
    </div>

    <div class="card-todo mb-5 text-white container-fluid" style="border-radius: 1rem;">
        <div class="card-body p-2 text-center">
            <h1><a class="link-primary" data-toggle="modal" data-target="#myModal">+ Add</a></h1>
        </div>
    </div>


    <div class="modal fade bg-modal-fade" id="myModal" data-keyboard="false" tabindex="-1" aria-labelledby="myModal"
        aria-hidden="true">

        <h1 class="custom-title py-3 mb-0 m-5 col-lg-5 col-lg-5 col-lg-5">what are you up to?</h1>

        <div class="modal-dialog px-3">
            <div class="modal-content bg-glass p-5 text-center">

                <button type="button" class="btn-close btn-close-white" data-dismiss="modal"
                    aria-label="Close"></button>

                <form method="POST" id="createForm">
                    {% csrf_token %}
                    <div class="mb-md-5">
                        <p class="text-white-50 mb-md-4">stay <u>organized</u>, add a new to-do. </p>

                        <div class="form mb-4">
                            <input type="text" name="title" id="title" placeholder="Task" class="form-control">
                        </div>

                        <div class="form mb-4">
                            <textarea type="text" name="description" id="description" placeholder="Description"
                                class="form-control"></textarea>
                        </div>
                    </div>

                    <button class="btn btn-outline-light btn-lg px-3" type="submit" name="submit" value="Create Task">+
                        Add</button>
                </form>

            </div>
        </div>
    </div>
    </div>
    </div>

</body>

<script>

    $(document).ready(() => {
        let card = todo => `
                    <section class="overflow-auto" id="${todo.pk}">

                            <div class="container-fluid card-todo text-white p-4 md-2">
                                <div class="card-body p-1">

                                    ${todo.fields.is_finished ? `<span class="badge rounded-pill bg-success">Done</span> 
                                    <small class="text-white-50"> ${todo.fields.date}<br></small>
                                    <h3 class="card-title bold"> <input type="checkbox" name="check"
                                            onclick="location.href='update_task/${todo.pk}'"
                                            checked />  ${todo.fields.title}</h3>` : `<span class="badge rounded-pill bg-light text-dark">Unfinished</span>
                                    <small class="text-white-50"> ${todo.fields.date}<br></small>
                                    <h3 class="card-title bold"> <input type="checkbox" name="check"
                                            onclick="location.href='update_task/${todo.pk}'" />
                                              ${todo.fields.title}</h3>`}
                                    
                                    <p class="card-text">${todo.fields.description}</p>
                                    <p class="card-text"><a class="link-primary"
                                            href="delete_task/${todo.pk}"> &#10005; Delete
                                            Task</a></p>
                                </div>
                            </div>
                            <br>
                    </section>
        `;

        const getTodo = () => {
            $.get("{% url 'todolist:get_todo_json' %}", data => {
                $.each(data, (e, value) => {
                    $("#mainBody").append(card(value));
                });
            });
        };

        const closeModal = e => {
            $('.modal').removeClass('in');
            $('.modal').attr("aria-hidden", "true");
            $('.modal').css("display", "none");
            $('.modal-backdrop').remove();
            $('body').removeClass('modal-open');
        };

        $("#createForm").submit(e => {

            const csrf_token = document.querySelector(
                "[name=csrfmiddlewaretoken]"
            ).value;
            
            let title = $("#title").val()
            let description = $("#description").val()

            if (title && description) {
                e.preventDefault();
                
                $.ajax({
                    type: "POST",
                    url: "{% url 'todolist:create_task' %}",
                    headers: { "X-CSRFToken": csrf_token }, 
                    mode: "same-origin",
                    data: {
                        title: title,
                        description: description,
                    },
                    success: response => {
                        $("#createForm").trigger("reset");
                        $("#mainBody").append(card(response));
                        closeModal();
                    },
                });
            } else {
                alert("Fields cannot be empty!");
            }

        });
        getTodo();
    });

</script>
{% endblock content %}
Footer